*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: antiquewhite;
}
.child{
    width: 100%;
    display: flex;
    align-items: center;
}
.child .left,
.child .right{
    flex: 1;
}

.todos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.todo{
    margin-top: 20px;
    padding: 30px;
    border: 1px solid black;
}