*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.child{
    width: 600px;
    background-color: aliceblue;
    padding: 10px;
    position: relative;
    overflow: hidden;
    height: 400px;
}
.form{
    position: absolute;
    width: 100%;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    input{
        width: 100%;
        padding: 10px 0;
        margin: 10px 0;
    }
}

.form a{
    cursor: pointer;
}

.form:first-child{
    left: 0;
}

.form:last-child{
    left: 100%;
    /* transform: translateX(-100%); */
}